body {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    text-align: center;
}
#a {
    color: #369;
    background-color: #FFFF00;
}
#primero {
    color: #369;
}

p {
    color: #555;
}

#primero em {
    background-color: #FFFF00;
    color: blue;
}

.especial {
    color: #ffff00;
    background-color: #000000;
}
.normal {
    font-weight: bold;
}


 
